.dress_detail_con {
    width: 1198px;
    height: 398px;
    border: 1px solid #ededed;
    margin: 0 auto 20px;
}

.dress_detail_pic {
    width: 350px;
    height: 350px;
    margin: 24px 0 0 24px;
}

.dress_detail_pic img {
    width: 350px;
    height: 350px;
}

.dress_detail_list {
    width: 730px;
    height: 350px;
    margin: 24px 24px 0 0;
}

.dress_detail_list h3 {
    font-size: 24px;
    line-height: 24px;
    color: #666;
    font-weight: normal;
    margin-bottom: 20px;
}

.dress_detail_list p {
    color: #666;
    line-height: 40px;
}

.prize_bar {
    height: 72px;
    background-color: #fff5f5;
    line-height: 72px;
    margin-top: 80px;
}

.prize_bar .show_pirze {
    font-size: 20px;
    color: #ff3e3e;
    padding-left: 20px
}

.prize_bar .show_pirze em {
    font-style: normal;
    font-size: 36px;
    padding-left: 10px
}

.prize_bar .show_unit {
    padding-left: 150px
}

.operate_btn {
    height: 40px;
    margin-top: 35px;
    font-size: 0;
    position: relative;
}

.operate_btn .buy_btn, .operate_btn .add_cart {
    display: inline-block;
    width: 178px;
    height: 38px;
    border: 1px solid #c40000;
    font-size: 14px;
    color: #c40000;
    line-height: 38px;
    text-align: center;
    background-color: #ffeded;
    /*margin-top: 70px;*/
}

.operate_btn .add_cart {
    background-color: #c40000;
    color: #fff;
    margin-left: 10px;
    position: relative;
    z-index: 10;
}

