.pc-container {
    width: 100%
}

.pc-container #product_list {
    margin-bottom: 10px
}

.pc-container #product_list .pro-name, .pc-container #product_list .case-name {
    width: 320px;
    margin: 0 auto;
    height: 125px;
    text-align: center
}

.pc-container #product_list .pro-name div, .pc-container #product_list .case-name div {
    height: 18px;
    line-height: 18px;
    float: left;
    margin-top: 56px;
    color: #707070;
    font-size: 18px;
    cursor: pointer
}

.pc-container #product_list .pro-name div span, .pc-container #product_list .case-name div span {
    padding: 0 20px
}

.pc-container #product_list .pro-name div a, .pc-container #product_list .case-name div a {
    color: #707070;
    float: left
}

.pc-container #product_list .case-name {
    width: 730px;
    padding-left: 44px;
    margin-left: 485px;
}

.pc-container #product_list #pro_list {
    width: 100%;
    overflow: hidden
}

.pc-container #product_list #pro_list li {
    height: 320px;
    width: 375px;
    margin-right: 30px;
    margin-top: 10px
}

.pc-container #product_list #pro_list li:nth-child(3n) {
    margin-right: 0
}

.pc-container #product_list #pro_list li .figure {
    height: 212px;
    overflow: hidden;
    display: block
}

.pc-container #product_list #pro_list li .figure img {
    max-width: 100%;
    vertical-align: middle
}

.pc-container #product_list #pro_list li a {
    display: block;
    position: relative
}

.pc-container #product_list #pro_list li a .pic {
    width: 375px;
    height: 210px;
    line-height: 210px;
    display: block;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.pc-container #product_list #pro_list li a img {
    width: 100%;
    vertical-align: middle
}

.pc-container #product_list #pro_list li a img.lazy {
    min-height: 210px;
    background-size: 120px
}

.pc-container #product_list #pro_list li a .info {
    height: 75px;
    padding: 20px;
    position: relative
}

.pc-container #product_list #pro_list li a .productName {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-transform: capitalize
}

.pc-container #product_list #pro_list li a .productType {
    font-size: 14px;
    font-weight: 400;
    color: #939393;
    padding: 8px 0 6px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.pc-container #product_list #pro_list.active {
    margin: 30px -10px 60px
}

.pc-container #product_list #pro_list.active .figure {
    height: 326px;
    line-height: 320px;
    overflow: hidden;
    display: block
}

.pc-container #product_list #pro_list.active .figure img {
    max-width: 100%;
    vertical-align: middle
}

.pc-container #product_list #pro_list.active .figure img.lazy {
    min-height: 160px;
    max-height: 160px;
    background-size: 80px
}

.pc-container #product_list #pro_list.active > li {
    width: 285px;
    height: 276px;
    margin: 10px
}

.pc-container #product_list #pro_list.active > li .figure {
    height: 160px;
    line-height: 155px;
    overflow: hidden;
    display: block
}

.pc-container #product_list #pro_list.active > li .info {
    padding: 20px 10px
}

.pc-container #product_list #pro_list.caseList {
    margin: 20px -21px 50px
}

.pc-container #product_list #pro_list.caseList > li {
    width: 374px;
    margin: 20px
}

.pc-container #product_list #pro_list.caseList > li .info {
    height: auto;
    padding: 0 20px
}

.pc-container .pagenation {
    height: 32px;
    text-align: center;
    font-size: 0;
    margin: 30px auto;
}

.pc-container .pagenation a {
    display: inline-block;
    border: 1px solid #d2d2d2;
    background-color: #f8f6f7;
    font-size: 12px;
    padding: 7px 10px;
    color: #666;
    margin: 5px
}

.pc-container .pagenation .active {
    background-color: #fff;
    color: #43a200
}

/*.pc-container #product_list .fenye {*/
/*    width: 470px;*/
/*    height: 30px;*/
/*    margin: 10px auto 30px;*/
/*    overflow: hidden*/
/*}*/

/*.pc-container #product_list .fenye ul {*/
/*    width: 210px;*/
/*    height: 30px;*/
/*    overflow: hidden;*/
/*    float: left*/
/*}*/

/*.pc-container #product_list .fenye ul li {*/
/*    display: block;*/
/*    width: 28px;*/
/*    height: 28px;*/
/*    line-height: 28px;*/
/*    text-align: center;*/
/*    font-size: 12px;*/
/*    color: #ababab;*/
/*    background-color: #fff;*/
/*    margin-right: 12px;*/
/*    border: 1px solid #707070;*/
/*    float: left;*/
/*    cursor: pointer*/
/*}*/

/*.pc-container #product_list .fenye ul li:nth-child(5) {*/
/*    margin-right: 0*/
/*}*/

/*.pc-container #product_list .fenye .shouye:hover, .pc-container #product_list .fenye .moye:hover, .pc-container #product_list .fenye .pre-ye:hover, .pc-container #product_list .fenye .next-ye:hover, .pc-container #product_list .fenye li:hover {*/
/*    background-color: #dc1414;*/
/*    color: #fff;*/
/*    border: 1px solid #dc1414*/
/*}*/

/*.pc-container #product_list .fenye .shouye, .pc-container #product_list .fenye .moye, .pc-container #product_list .fenye .pre-ye, .pc-container #product_list .fenye .next-ye {*/
/*    display: block;*/
/*    width: 28px;*/
/*    height: 28px;*/
/*    line-height: 28px;*/
/*    text-align: center;*/
/*    font-size: 12px;*/
/*    color: #ababab;*/
/*    background-color: #fff;*/
/*    margin-right: 12px;*/
/*    border: 1px solid #707070;*/
/*    float: left;*/
/*    cursor: pointer*/
/*}*/

/*.pc-container #product_list .fenye .shouye, .pc-container #product_list .fenye .moye {*/
/*    width: 48px*/
/*}*/

/*.pc-container #product_list .fenye .moye {*/
/*    margin-right: 0*/
/*}*/

/*.pc-container #product_list .fenye .pre-ye, .pc-container #product_list .fenye .next-ye {*/
/*    width: 58px*/
/*}*/

/*.pc-container #product_list .fenye .numActive {*/
/*    background-color: #dc1414;*/
/*    color: #fff;*/
/*    border: 1px solid #dc1414*/
/*}*/

/*.pc-container #product_list .fenye .barActive {*/
/*    background-color: #f8f8f8;*/
/*    border: 1px solid #939393*/
/*}*/