{% extends 'base.html' %}
{% load staticfiles %}
{% block function %}
<link rel="stylesheet" href="/static/css/aboutus.css" type="text/css">
<div class="pc-container" band-sensors="sensors-div-14">
   <div class="banner" band-sensors="sensors-div-15">
        <p>我们永远理解<br>婚礼在人生中的重要性</p>
        <p>所以，我们不断对产品设计和服务品质<br>进行挑战和革新</p>
   </div>
   <p class="tit tit-01">WHAT IS MIJ</p>
   <p class="tit tit-02">什么是“蜜匠”</p>
   <p class="content content-01">
        "蜜" 代表着甜蜜，而"匠"代表着匠人、匠心<br><br>蜜匠婚礼以优质服务为本，用匠心的精神，做甜蜜事业的筑梦师，把爱情中的甜蜜一点一滴凝结成一个动人的婚礼作品,<br>
        高品质地还原新人理想的婚礼模样，期待和新人们分享甜蜜、珍贵的美好情感，为每一对新人带去美好的婚礼体验。<br><br>凭借高品质的产品和优质的服务，蜜匠婚礼先后荣获“湖南高新技术企业”、“中国315诚信企业”等荣誉称号。
   </p>
   <img class="img-01" src="/static/image/aboutus-01.png" alt="" band-sensors="sensors-img-16">
   <p class="tit tit-03">DEVELOPMENT SCALE</p>
   <p class="tit tit-02 tit-04">什么是“蜜匠”</p>
   <img class="img-02" src="/static/image/aboutus-02.png" alt="" band-sensors="sensors-img-17">
   <div class="map-box" band-sensors="sensors-div-18">
        <div class="map" band-sensors="sensors-div-19">
            <img src="/static/image/aboutus-03.png" alt="" band-sensors="sensors-img-20">
        </div>
        <div class="map-info" band-sensors="sensors-div-21">
            <p class="map-01"><span band-sensors="sensors-span-22">|</span>全国300所城市  350+门店</p>
            <p class="map-02">蜜匠婚礼致力于全国一站式婚庆产业链，经过多年婚庆行业沉淀，<br>品牌门店在全国300+城市均设有分店。</p>
            <p class="map-01 map-03"><span band-sensors="sensors-span-23">|</span>如何查找蜜匠婚礼服务网点？</p>
            <div class="map-04" band-sensors="sensors-div-24">
                <img src="/static/image/aboutus-04.png" alt="" band-sensors="sensors-img-25">
                <div band-sensors="sensors-div-26">
                    <p>全国门店360°体验蜜匠服务</p>
                    <a href="https://www.mijwed.com/semsearch-store.html" target="_blank">城市体验店 &gt;</a>
                </div>
            </div>
            <div class="map-04" band-sensors="sensors-div-27">
                <img src="/static/image/aboutus-05.png" alt="" band-sensors="sensors-img-28">
                <div band-sensors="sensors-div-29">
                    <p>提供24小时咨询服务</p>
                    <a href="javascript:void(0);">全国客服 400-099-2169 &gt;</a>
                </div>
            </div>
        </div>
   </div>
   <img class="img-03" src="/static/image/aboutus-06.png" alt="" band-sensors="sensors-img-30">

   <div class="why-box" band-sensors="sensors-div-31">
        <p class="tit-07">如何保障您的婚礼筹备工作有序细致？</p>
        <ul class="li-box">
            <li band-sensors="sensors-li-32">
                <img src="/static/image/aboutus-07.png" alt="" band-sensors="sensors-img-33">
                <p class="tit-09">确定您想要的婚礼风格</p>
                <p class="tit-10">策划师一对一服务根据新人喜好，结合场地尺寸，推荐适合的方案，提供优美案例。</p>
                <a href="https://www.mijwed.com/semsearch-serviceteam.html" target="_blank">挑选您意向的主题婚礼 &gt;</a>
            </li>
            <li band-sensors="sensors-li-34">
                <img src="/static/image/aboutus-08.png" alt="" band-sensors="sensors-img-35">
                <p class="tit-09">选择合适婚礼服务团队</p>
                <p class="tit-10">通过看作品、查阅资历，确定满意的婚礼服 务人员，和司仪进行面谈，确保婚礼流程顺 畅有序。<a href="https://www.mijwed.com/semsearch-serviceteam.html" target="_blank">挑选您的婚礼服务团队 &gt;</a></p>
            </li>
            <li band-sensors="sensors-li-36">
                <img src="/static/image/aboutus-09.png" alt="" band-sensors="sensors-img-37">
                <p class="tit-09">确认婚礼流程细节</p>
                <p class="tit-10">全方位协助新人完成婚礼习俗、宾客名单、 场地布置、婚礼服务团队沟通、婚纱礼服挑 选、婚品采购、请柬……等繁琐任务。</p>
            </li>
            <li band-sensors="sensors-li-38">
                <img src="/static/image/aboutus-10.png" alt="" band-sensors="sensors-img-39">
                <p class="tit-09">统筹现场执行</p>
                <p class="tit-10">婚礼前有专业统筹师确保现场的搭建和各项 准备事宜是否准备稳妥。</p>
            </li>
        </ul>
   </div>
   <p class="tit-11">婚礼的四大金刚是指什么？</p>
   <p class="tit-12">主持人、摄影师、化妆师、摄像师被誉为婚礼四大金刚。<br>把控您婚礼流程，记录着美好的时刻。</p>
   <ul class="jg-box">
        <li band-sensors="sensors-li-40">
            <img src="/static/image/aboutus-11.png" alt="" band-sensors="sensors-img-41">
            <p class="jg-name">主持人</p>
            <p>Emcee</p>
        </li>
        <li band-sensors="sensors-li-42">
            <img src="/static/image/aboutus-12.png" alt="" band-sensors="sensors-img-43">
            <p class="jg-name">摄影师</p>
            <p>Photographer</p>
        </li>
        <li band-sensors="sensors-li-44">
            <img src="/static/image/aboutus-13.png" alt="" band-sensors="sensors-img-45">
            <p class="jg-name">化妆师</p>
            <p>Makeup artist</p>
        </li>
        <li band-sensors="sensors-li-46">
            <img src="/static/image/aboutus-14.png" alt="" band-sensors="sensors-img-47">
            <p class="jg-name">摄像师</p>
            <p>Cameraman</p>
        </li>
   </ul>
   <p class="tit-13">四大金刚的服务品质如何保障？</p>
   <p class="tit-14"><a href="https://www.mijwed.com/semsearch-serviceteam.html" target="_blank">挑选您的婚礼服务团队 &gt;</a></p>
   <img class="img-04" src="/static/image/sdjg.png" alt="" band-sensors="sensors-img-48">
   <div class="bottom-box" band-sensors="sensors-div-49">
        <p class="tit-15">蜜匠如何确保婚礼现场高还原度</p>
        <p class="tit-16"><a href="https://www.mijwed.com/semsearch-serviceteam.html" target="_blank">查看蜜匠现场执行团队 &gt;</a></p>
        <img src="/static/image/aboutus-24.png" alt="" band-sensors="sensors-img-50">
   </div>
</div>
{% endblock function %}