{% extends 'base.html' %}
{% load staticfiles %}
{% block function %}
    <link rel="stylesheet" href="/static/css/dresses.css" type="text/css">
    <div class="pc-container" band-sensors="sensors-div-14">
        <!-- 主题婚礼 -->
        <div id="product_list" class="inner-wrap" band-sensors="sensors-div-15">
            <div class="case-name" band-sensors="sensors-div-16">
                <div class="newest" data-screen="0" band-sensors="sensors-div-17"><a href="">默认</a>
                    <span band-sensors="sensors-span-18">|</span>
                </div>
                <div class="newest" data-screen="0" band-sensors="sensors-div-17"><a href="">价格</a>
                </div>
            </div>
            <ul id="pro_list" class="clearfix inner-wrap" data-growing-container="">
                <li class="items-box-shadow fl height" band-sensors="sensors-li-29">
                    <a target="_blank" href="" class="pc-product-popup">
                    <span class="figure" band-sensors="sensors-span-30">
                        <img class="lazy" src="/static/image/hunsha.jpg" alt="" band-sensors="sensors-img-31">
                    </span>
                        <div class="info" band-sensors="sensors-div-32">
                            <div class="productName" band-sensors="sensors-div-33">婚纱</div>
                            <div class="productType" band-sensors="sensors-div-34">价格</div>
                        </div>
                    </a>
                </li>
                <li class="items-box-shadow fl height" band-sensors="sensors-li-29">
                    <a target="_blank" href="" class="pc-product-popup">
                    <span class="figure" band-sensors="sensors-span-30">
                        <img class="lazy" src="/static/image/hunsha.jpg" alt="" band-sensors="sensors-img-31">
                    </span>
                        <div class="info" band-sensors="sensors-div-32">
                            <div class="productName" band-sensors="sensors-div-33">婚纱</div>
                            <div class="productType" band-sensors="sensors-div-34">价格</div>
                        </div>
                    </a>
                </li>
                <li class="items-box-shadow fl height" band-sensors="sensors-li-29">
                    <a target="_blank" href="" class="pc-product-popup">
                    <span class="figure" band-sensors="sensors-span-30">
                        <img class="lazy" src="/static/image/hunsha.jpg" alt="" band-sensors="sensors-img-31">
                    </span>
                        <div class="info" band-sensors="sensors-div-32">
                            <div class="productName" band-sensors="sensors-div-33">婚纱</div>
                            <div class="productType" band-sensors="sensors-div-34">价格</div>
                        </div>
                    </a>
                </li>
                <li class="items-box-shadow fl height" band-sensors="sensors-li-29">
                    <a target="_blank" href="" class="pc-product-popup">
                    <span class="figure" band-sensors="sensors-span-30">
                        <img class="lazy" src="/static/image/hunsha.jpg" alt="" band-sensors="sensors-img-31">
                    </span>
                        <div class="info" band-sensors="sensors-div-32">
                            <div class="productName" band-sensors="sensors-div-33">婚纱</div>
                            <div class="productType" band-sensors="sensors-div-34">价格</div>
                        </div>
                    </a>
                </li>
                <li class="items-box-shadow fl height" band-sensors="sensors-li-29">
                    <a target="_blank" href="" class="pc-product-popup">
                    <span class="figure" band-sensors="sensors-span-30">
                        <img class="lazy" src="/static/image/hunsha.jpg" alt="" band-sensors="sensors-img-31">
                    </span>
                        <div class="info" band-sensors="sensors-div-32">
                            <div class="productName" band-sensors="sensors-div-33">婚纱</div>
                            <div class="productType" band-sensors="sensors-div-34">价格</div>
                        </div>
                    </a>
                </li>
                <li class="items-box-shadow fl height" band-sensors="sensors-li-29">
                    <a target="_blank" href="" class="pc-product-popup">
                    <span class="figure" band-sensors="sensors-span-30">
                        <img class="lazy" src="/static/image/hunsha.jpg" alt="" band-sensors="sensors-img-31">
                    </span>
                        <div class="info" band-sensors="sensors-div-32">
                            <div class="productName" band-sensors="sensors-div-33">婚纱</div>
                            <div class="productType" band-sensors="sensors-div-34">价格</div>
                        </div>
                    </a>
                </li>
            </ul>

            <div class="pagenation">
				<a href="#">&lt;上一页</a>
				<a href="#" class="active">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">下一页></a>
			</div>
        </div>
    </div>
{% endblock function %}

</body>
</html>