{% extends 'base.html' %}
{% load staticfiles %}
{% block function %}
<link rel="stylesheet" href="/static/css/themewed.css" type="text/css">
<div class="pc-container" band-sensors="sensors-div-14">
    <!-- 主题婚礼 -->
    <div id="product_list" class="inner-wrap" band-sensors="sensors-div-15">
        <div class="case-name" band-sensors="sensors-div-16">
                            <div class="newest" data-screen="0" band-sensors="sensors-div-17"><a href="https://www.mijwed.com/semsearch-truecase-79.html?channel_type=2">主题系列</a>
                <span band-sensors="sensors-span-18">|</span>
            </div>
                            <div class="newest" data-screen="1" band-sensors="sensors-div-19"><a href="https://www.mijwed.com/semsearch-truecase-20.html?channel_type=2">中式系列</a>
                <span band-sensors="sensors-span-20">|</span>
            </div>
                            <div class="newest" data-screen="2" band-sensors="sensors-div-21"><a href="https://www.mijwed.com/semsearch-truecase-80.html?channel_type=2">户外系列</a>
                <span band-sensors="sensors-span-22">|</span>
            </div>
                            <div class="newest" data-screen="3" band-sensors="sensors-div-23"><a href="https://www.mijwed.com/semsearch-truecase-21.html?channel_type=2">唯美系列</a>
                <span band-sensors="sensors-span-24">|</span>
            </div>
                            <div class="newest" data-screen="4" band-sensors="sensors-div-25"><a href="https://www.mijwed.com/semsearch-truecase-25.html?channel_type=2">创意系列</a>
                <span band-sensors="sensors-span-26">|</span>
            </div>
                            <div class="newest" data-screen="5" band-sensors="sensors-div-27"><a href="https://www.mijwed.com/semsearch-truecase-81.html?channel_type=2">复古系列</a>
                <span band-sensors="sensors-span-28"></span>
            </div>
                    </div>
        <ul id="pro_list" class="clearfix inner-wrap" data-growing-container="">
                        <li class="items-box-shadow fl height" data-growing-title="如梦令" band-sensors="sensors-li-29">
                <a target="_blank" href="https://www.mijwed.com/semsearch-kepian-51427.html?channel_type=2" title="如梦令" class="pc-product-popup">
                    <span class="figure" band-sensors="sensors-span-30">
                        <img class="lazy" src="/static/image/20200805_7B67773CAFC7A9A2679B395687449DFF.jpg" alt="" band-sensors="sensors-img-31">
                    </span>
                    <div class="info" band-sensors="sensors-div-32">
                        <div class="productName" band-sensors="sensors-div-33">如梦令</div>
                        <div class="productType" band-sensors="sensors-div-34">河南 郑州 </div>
                    </div>
                </a>
            </li>
                        <li class="items-box-shadow fl height" data-growing-title="余生" band-sensors="sensors-li-35">
                <a target="_blank" href="https://www.mijwed.com/semsearch-kepian-51654.html?channel_type=2" title="余生" class="pc-product-popup">
                    <span class="figure" band-sensors="sensors-span-36">
                        <img class="lazy" src="/static/image/20200916_B26D559600E590DE5DA502CF5D27DC50.jpg" alt="" band-sensors="sensors-img-37">
                    </span>
                    <div class="info" band-sensors="sensors-div-38">
                        <div class="productName" band-sensors="sensors-div-39">余生</div>
                        <div class="productType" band-sensors="sensors-div-40">山西 晋城市 </div>
                    </div>
                </a>
            </li>
                        <li class="items-box-shadow fl height" data-growing-title="韶华倾负" band-sensors="sensors-li-41">
                <a target="_blank" href="https://www.mijwed.com/semsearch-kepian-51715.html?channel_type=2" title="韶华倾负" class="pc-product-popup">
                    <span class="figure" band-sensors="sensors-span-42">
                        <img class="lazy" src="/static/image/20201023_7C7B0E72F8DA2A8D3F9BA5A8D84F1927.jpg" alt="" band-sensors="sensors-img-43">
                    </span>
                    <div class="info" band-sensors="sensors-div-44">
                        <div class="productName" band-sensors="sensors-div-45">韶华倾负</div>
                        <div class="productType" band-sensors="sensors-div-46">山西 晋城市 </div>
                    </div>
                </a>
            </li>
                        <li class="items-box-shadow fl height" data-growing-title="红尘碾" band-sensors="sensors-li-47">
                <a target="_blank" href="https://www.mijwed.com/semsearch-kepian-51717.html?channel_type=2" title="红尘碾" class="pc-product-popup">
                    <span class="figure" band-sensors="sensors-span-48">
                        <img class="lazy" src="/static/image/20201023_E9871FDB911AA9ED4D5D7FF5445CE813.jpg" alt="" band-sensors="sensors-img-49">
                    </span>
                    <div class="info" band-sensors="sensors-div-50">
                        <div class="productName" band-sensors="sensors-div-51">红尘碾</div>
                        <div class="productType" band-sensors="sensors-div-52">湖南 长沙 </div>
                    </div>
                </a>
            </li>
                        <li class="items-box-shadow fl height" data-growing-title="琴瑟在御莫不静好" band-sensors="sensors-li-53">
                <a target="_blank" href="https://www.mijwed.com/semsearch-kepian-51603.html?channel_type=2" title="琴瑟在御莫不静好" class="pc-product-popup">
                    <span class="figure" band-sensors="sensors-span-54">
                        <img class="lazy" src="/static/image/20200805_D2CBD1B0331CD3C753F6283AB6AF9A3D.jpg" alt="" band-sensors="sensors-img-55">
                    </span>
                    <div class="info" band-sensors="sensors-div-56">
                        <div class="productName" band-sensors="sensors-div-57">琴瑟在御莫不静好</div>
                        <div class="productType" band-sensors="sensors-div-58">江苏 徐州市 </div>
                    </div>
                </a>
            </li>
                        <li class="items-box-shadow fl height" data-growing-title="相思意" band-sensors="sensors-li-59">
                <a target="_blank" href="https://www.mijwed.com/semsearch-kepian-51709.html?channel_type=2" title="相思意" class="pc-product-popup">
                    <span class="figure" band-sensors="sensors-span-60">
                        <img class="lazy" src="/static/image/20201019_5CF9923CA93ABE1938D81ED4B82D31A2.jpg" alt="" band-sensors="sensors-img-61">
                    </span>
                    <div class="info" band-sensors="sensors-div-62">
                        <div class="productName" band-sensors="sensors-div-63">相思意</div>
                        <div class="productType" band-sensors="sensors-div-64">湖南 常德市 </div>
                    </div>
                </a>
            </li>
                        <li class="items-box-shadow fl height" data-growing-title="如心如意" band-sensors="sensors-li-65">
                <a target="_blank" href="https://www.mijwed.com/semsearch-kepian-51479.html?channel_type=2" title="如心如意" class="pc-product-popup">
                    <span class="figure" band-sensors="sensors-span-66">
                        <img class="lazy" src="/static/image/20200805_78096BB1F23CD929ACE7BDB98E309A3C.jpg" alt="" band-sensors="sensors-img-67">
                    </span>
                    <div class="info" band-sensors="sensors-div-68">
                        <div class="productName" band-sensors="sensors-div-69">如心如意</div>
                        <div class="productType" band-sensors="sensors-div-70">河南 郑州 </div>
                    </div>
                </a>
            </li>
                        <li class="items-box-shadow fl height" data-growing-title="望眸" band-sensors="sensors-li-71">
                <a target="_blank" href="https://www.mijwed.com/semsearch-kepian-51484.html?channel_type=2" title="望眸" class="pc-product-popup">
                    <span class="figure" band-sensors="sensors-span-72">
                        <img class="lazy" src="/static/image/20200824_476CCCBEBDAC7E3EB7D9ED6717B4D89E.jpg" alt="" band-sensors="sensors-img-73">
                    </span>
                    <div class="info" band-sensors="sensors-div-74">
                        <div class="productName" band-sensors="sensors-div-75">望眸</div>
                        <div class="productType" band-sensors="sensors-div-76">河南 郑州 </div>
                    </div>
                </a>
            </li>
                        <li class="items-box-shadow fl height" data-growing-title="花好月圆" band-sensors="sensors-li-77">
                <a target="_blank" href="https://www.mijwed.com/semsearch-kepian-51236.html?channel_type=2" title="花好月圆" class="pc-product-popup">
                    <span class="figure" band-sensors="sensors-span-78">
                        <img class="lazy" src="/static/image/20190921_8C1B77D250D95C8DD4C69535C4B57C8A.jpg" alt="" band-sensors="sensors-img-79">
                    </span>
                    <div class="info" band-sensors="sensors-div-80">
                        <div class="productName" band-sensors="sensors-div-81">花好月圆</div>
                        <div class="productType" band-sensors="sensors-div-82">湖南 常德市 </div>
                    </div>
                </a>
            </li>
                    </ul>
        <div class="fenye" band-sensors="sensors-div-83">
            <a href="https://www.mijwed.com/semsearch-truecase.html?channel_type=2">
                <div class="shouye barActive" band-sensors="sensors-div-84">首页</div>
            </a>
                        <ul class="fenyeul">

                <a href="https://www.mijwed.com/semsearch-truecase-20-1.html?channel_type=2">
                    <li class="fenyeList numActive" band-sensors="sensors-li-85">1</li>
                </a>

                <a href="https://www.mijwed.com/semsearch-truecase-20-2.html?channel_type=2">
                    <li class="fenyeList" band-sensors="sensors-li-86">2</li>
                </a>

                <a href="https://www.mijwed.com/semsearch-truecase-20-3.html?channel_type=2">
                    <li class="fenyeList" band-sensors="sensors-li-87">3</li>
                </a>

                <a href="https://www.mijwed.com/semsearch-truecase-20-4.html?channel_type=2">
                    <li class="fenyeList" band-sensors="sensors-li-88">4</li>
                </a>

                <a href="https://www.mijwed.com/semsearch-truecase-20-5.html?channel_type=2">
                    <li class="fenyeList" band-sensors="sensors-li-89">5</li>
                </a>

                <a href="https://www.mijwed.com/semsearch-truecase-20-6.html?channel_type=2">
                    <li class="fenyeList" band-sensors="sensors-li-90">6</li>
                </a>

                <a href="https://www.mijwed.com/semsearch-truecase-20-7.html?channel_type=2">
                    <li class="fenyeList" band-sensors="sensors-li-91">7</li>
                </a>

                <a href="https://www.mijwed.com/semsearch-truecase-20-8.html?channel_type=2">
                    <li class="fenyeList" band-sensors="sensors-li-92">8</li>
                </a>

                <a href="https://www.mijwed.com/semsearch-truecase-20-9.html?channel_type=2">
                    <li class="fenyeList" band-sensors="sensors-li-93">9</li>
                </a>

                <a href="https://www.mijwed.com/semsearch-truecase-20-10.html?channel_type=2">
                    <li class="fenyeList" band-sensors="sensors-li-94">10</li>
                </a>

                <a href="https://www.mijwed.com/semsearch-truecase-20-11.html?channel_type=2">
                    <li class="fenyeList" band-sensors="sensors-li-95">11</li>
                </a>

                <a href="https://www.mijwed.com/semsearch-truecase-20-12.html?channel_type=2">
                    <li class="fenyeList" band-sensors="sensors-li-96">12</li>
                </a>

            </ul>
                        <a href="https://www.mijwed.com/semsearch-truecase-20-2.html?channel_type=2">
                <div class="next-ye" band-sensors="sensors-div-97">下一页</div>
            </a>
                                    <a href="https://www.mijwed.com/semsearch-truecase-20-12.html?channel_type=2">
                <div class="moye" band-sensors="sensors-div-98">末页</div>
            </a>
                    </div>
    </div>
</div>
{% endblock function %}