{% extends 'base.html' %}
{% load staticfiles %}
{% block function %}
<link rel="stylesheet" href="/static/css/serviceteam.css" type="text/css">
<div class="pc-container" band-sensors="sensors-div-14">
    <div class="inner-wrap" band-sensors="sensors-div-15">
        <!-- 一 -->
        <ul class="nav-list-title nav-list-title1">
            <li band-sensors="sensors-li-16">
                <div class="first-title" band-sensors="sensors-div-17">
                    <p class="title">
                        <em class="icon icon-01">icon</em>
                        婚礼策划团队
                    </p>
                    <p class="intro">一流的婚礼服务</p>
                    <p class="intro"> 品质婚礼的缔造者</p>
                </div>
                <div class="nav-hide-list nav-hide-list1" band-sensors="sensors-div-18"></div>
            </li>
            <li band-sensors="sensors-li-19">
                <div class="left-title current" band-sensors="sensors-div-20">
                    <p class="subtitle">产品设计师</p>
                </div>
                <!-- 01 -->
                <div class="nav-hide-list nav-hide-list1" band-sensors="sensors-div-21" style="display: block;">
                    <img src="/static/image/list1-1.png" alt="" band-sensors="sensors-img-22">
                    <div class="zx-btn" band-sensors="sensors-div-23">立即咨询</div>
                </div>
            </li>
            <li band-sensors="sensors-li-24">
                <div class="left-title" band-sensors="sensors-div-25">
                    <p class="subtitle">婚礼统筹师</p>
                </div>
                <!-- 02 -->
                <div class="nav-hide-list nav-hide-list1" band-sensors="sensors-div-26">
                    <img src="/static/image/list1-2.png" alt="" band-sensors="sensors-img-27">
                    <div class="zx-btn" band-sensors="sensors-div-28">立即咨询</div>
                </div>
            </li>
            <li class="lastli" band-sensors="sensors-li-29">
                <div class="left-title" band-sensors="sensors-div-30">
                    <p class="subtitle">婚礼策划师</p>
                </div>
                <!-- 03 -->
                <div class="nav-hide-list nav-hide-list1" band-sensors="sensors-div-31">
                    <div class="hide-right hide-03 fr" band-sensors="sensors-div-32">
                        <img src="/static/image/list1-3.png" alt="" band-sensors="sensors-img-33">
                    <div class="zx-btn" band-sensors="sensors-div-34">立即咨询</div>
                </div>
            </div></li>
        </ul>
        <!-- 二 -->
        <ul class="nav-list-title nav-list-title2">

            <li band-sensors="sensors-li-35">
                <div class="first-title" band-sensors="sensors-div-36">
                    <p class="title">
                        <em class="icon icon-02">icon</em>
                        婚礼四大金刚
                    </p>
                    <p class="intro">婚礼重要的组成部分</p>
                    <p class="intro">必不可少的参与者</p>
                </div>
                <div class="nav-hide-list nav-hide-list2" band-sensors="sensors-div-37"></div>
            </li>
            <li band-sensors="sensors-li-38">
                <div class="left-title current" band-sensors="sensors-div-39">
                    <p class="subtitle">婚礼主持人</p>
                </div>
                <!-- 01 -->
                <div class="nav-hide-list nav-hide-list2" band-sensors="sensors-div-40" style="display: block;">
                    <img src="/static/image/list1-4.png" alt="" band-sensors="sensors-img-41">
                    <div class="zx-btn" band-sensors="sensors-div-42">立即咨询</div>
                </div>
            </li>
            <li band-sensors="sensors-li-43">
                <div class="left-title" band-sensors="sensors-div-44">
                    <p class="subtitle">婚礼跟妆师</p>
                </div>
                <!-- 02 -->
                <div class="nav-hide-list nav-hide-list2" band-sensors="sensors-div-45">
                    <img src="/static/image/list1-5.png" alt="" band-sensors="sensors-img-46">
                    <div class="zx-btn" band-sensors="sensors-div-47">立即咨询</div>
                </div>
            </li>
            <li band-sensors="sensors-li-48">
                <div class="left-title" band-sensors="sensors-div-49">
                    <p class="subtitle">婚礼摄像师</p>
                </div>
                <!-- 03 -->
                <div class="nav-hide-list nav-hide-list2" band-sensors="sensors-div-50">
                    <img src="/static/image/list1-6.png" alt="" band-sensors="sensors-img-51">
                    <div class="zx-btn" band-sensors="sensors-div-52">立即咨询</div>
                </div>
            </li>
            <li class="lastli" band-sensors="sensors-li-53">
                <div class="left-title" band-sensors="sensors-div-54">
                    <p class="subtitle">婚礼摄影师</p>
                </div>
                <!-- 04 -->
                <div class="nav-hide-list nav-hide-list2" band-sensors="sensors-div-55">
                    <img src="/static/image/list1-7.png" alt="" band-sensors="sensors-img-56">
                    <div class="zx-btn" band-sensors="sensors-div-57">立即咨询</div>
                </div>
            </li>
        </ul>
        <!-- 三 -->
        <ul class="nav-list-title nav-list-title3">
            <li band-sensors="sensors-li-58">
                <div class="first-title" band-sensors="sensors-div-59">
                    <p class="title">
                        <em class="icon icon-03">icon</em>
                        婚礼现场执行团队
                    </p>
                    <p class="intro">高品质还原设计及新人的想法</p>
                    <p class="intro">呈现唯美的婚礼现场效果</p>
                </div>
                <div class="nav-hide-list nav-hide-list3" band-sensors="sensors-div-60"></div>
            </li>
            <li band-sensors="sensors-li-61">
                <div class="left-title current" band-sensors="sensors-div-62">
                    <p class="subtitle">场景搭建师</p>
                </div>
                <!-- 01 -->
                <div class="nav-hide-list nav-hide-list3" band-sensors="sensors-div-63" style="display: block;">
                    <img src="/static/image/list1-8.png" alt="" band-sensors="sensors-img-64">
                    <div class="zx-btn" band-sensors="sensors-div-65">立即咨询</div>
                </div>
            </li>
            <li band-sensors="sensors-li-66">
                <div class="left-title" band-sensors="sensors-div-67">
                    <p class="subtitle">灯光花艺师</p>
                </div>
                <!-- 02 -->
                <div class="nav-hide-list nav-hide-list3" band-sensors="sensors-div-68">
                    <img src="/static/image/list1-9.png" alt="" band-sensors="sensors-img-69">
                    <div class="zx-btn" band-sensors="sensors-div-70">立即咨询</div>
                </div>
            </li>
            <li band-sensors="sensors-li-71">
                <div class="left-title" band-sensors="sensors-div-72">
                    <p class="subtitle">婚礼DJ</p>
                </div>
                <!-- 03 -->
                <div class="nav-hide-list nav-hide-list3" band-sensors="sensors-div-73">
                    <img src="/static/image/list1-10.png" alt="" band-sensors="sensors-img-74">
                    <div class="zx-btn" band-sensors="sensors-div-75">立即咨询</div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="popup" id="popup1" band-sensors="sensors-div-76">
    <div class="main" band-sensors="sensors-div-77">
        <div class="close-btn" band-sensors="sensors-div-78">
            <img src="/static/image/fork.png" alt="" band-sensors="sensors-img-79">
        </div>
       <img src="/static/image/team-bg.png" alt="" class="pop-bg" band-sensors="sensors-img-80">
       <div class="content" band-sensors="sensors-div-81">
            <input type="text" placeholder="请输入您的手机号码" maxlength="11" class="phone">
            <span class="phonespan" band-sensors="sensors-span-82">手机</span>
            <div class="pop-btn" data-note="详情页（主题及案例）-预约到店" data-mess="预约成功" band-sensors="sensors-div-83">确 定</div>
       </div>
    </div>
</div>
{% endblock function %}