{% extends 'base.html' %}
{% load staticfiles %}
{% block function %}
<!-- 爆款产品详情首页 -->
<link rel="stylesheet" href="/static/css/product.css">
<link rel="stylesheet" href="/static/css/themedetail.css" type="text/css">
<div class="pc-container" band-sensors="sensors-div-14">
    <div class="inner-wrap clearfix" band-sensors="sensors-div-15">
        <div class="product-shell" band-sensors="sensors-div-16">
            <!-- video -->
                            <div class="video-con" band-sensors="sensors-div-17">
                                        <video id="l_video" src="https://video.mijwed.com/video/wed3/20200908002yasuo.mp4" muted="true" controls="" controlslist="nodownload" loop=""></video>
                </div>
                        <!--区域类型,1主舞台,2仪式通道,3签到台,4迎宾区,5灯光-->

            <div class="picture js-transform" band-sensors="sensors-div-18">
                <img class="" data-original="https://qnvideo.mijwed.com/product/26725/vYjlV4ZLrZfNkjH1599531307475.jpg" alt="石家庄市婚礼策划方案:简单爱2" band-sensors="sensors-img-19" src="/static/image/vYjlV4ZLrZfNkjH1599531307475.jpg" style="transform: translateY(0px);">
            </div>

            <div class="alr-caption-box" band-sensors="sensors-div-20">
                <span class="caption transmit animatioans animated" data-animation="fadeInUp" band-sensors="sensors-span-21">主舞台</span>
                <span class="description transmit animatioans animated animation-delay-1" data-animation="fadeInUp" band-sensors="sensors-span-22">高级而长久的温柔，是简单而温馨的陪伴</span>
                <ul class="list">
                    <li band-sensors="sensors-li-23">
                        <p class="title transmit animatioans animated animation-delay-2" data-animation="fadeInUp">浅香槟高级色调</p>
                        <p class="description transmit animatioans animated animation-delay-2" data-animation="fadeInUp">复古爱迪生灯串</p>
                        <em class="line transmit animatioans animated animation-delay-2" data-animation="fadeInUp">|</em>
                    </li>
                    <li band-sensors="sensors-li-24">
                        <p class="title transmit animatioans animated animation-delay-3" data-animation="fadeInUp">特制棉麻布艺</p>
                        <p class="description transmit animatioans animated animation-delay-3" data-animation="fadeInUp">几何色块立体空间</p>
                        <em class="line transmit animatioans animated animation-delay-3" data-animation="fadeInUp">|</em>
                    </li>
                    <li band-sensors="sensors-li-25">
                        <p class="title transmit animatioans animated animation-delay-4" data-animation="fadeInUp">焦糖色磨砂铁艺</p>
                        <p class="description transmit animatioans animated animation-delay-4" data-animation="fadeInUp">主题色系花艺</p>
                    </li>
                </ul>
            </div>

            <!--区域类型,1主舞台,2仪式通道,3签到台,4迎宾区,5灯光-->

            <div class="picture js-transform" band-sensors="sensors-div-26">
                <img class="lazy" data-original="https://qnvideo.mijwed.com/product/26725/BpExCioJHjlfn911599531936258.jpg" alt="石家庄市婚礼策划方案:简单爱3" band-sensors="sensors-img-27" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII=" style="transform: translateY(0px);">
            </div>

            <div class="alr-caption-box" band-sensors="sensors-div-28">
                <span class="caption transmit animatioans animated" data-animation="fadeInUp" band-sensors="sensors-span-29">仪式通道</span>
                <span class="description transmit animatioans animated animation-delay-1" data-animation="fadeInUp" band-sensors="sensors-span-30">在这条走向幸福的花路上，我只愿与你携手</span>
                <ul class="list">
                    <li band-sensors="sensors-li-31">
                        <p class="title transmit animatioans animated animation-delay-2" data-animation="fadeInUp">简约高级暖色调</p>
                        <p class="description transmit animatioans animated animation-delay-2" data-animation="fadeInUp">花艺主题路引</p>
                        <em class="line transmit animatioans animated animation-delay-2" data-animation="fadeInUp">|</em>
                    </li>
                    <li band-sensors="sensors-li-32">
                        <p class="title transmit animatioans animated animation-delay-3" data-animation="fadeInUp">主题色系花艺</p>
                        <p class="description transmit animatioans animated animation-delay-3" data-animation="fadeInUp">双生繁盛花艺</p>
                        <em class="line transmit animatioans animated animation-delay-3" data-animation="fadeInUp">|</em>
                    </li>
                    <li band-sensors="sensors-li-33">
                        <p class="title transmit animatioans animated animation-delay-4" data-animation="fadeInUp">几何线条烤漆铁艺</p>
                        <p class="description transmit animatioans animated animation-delay-4" data-animation="fadeInUp">精致主题宴会桌</p>
                    </li>
                </ul>
            </div>

            <!--区域类型,1主舞台,2仪式通道,3签到台,4迎宾区,5灯光-->

            <div class="picture js-transform" band-sensors="sensors-div-34">
                <img class="lazy" data-original="https://qnvideo.mijwed.com/product/26725/qKnaX5Uxtc6NO1s1599532690649.jpg" alt="石家庄市婚礼策划方案:简单爱4" band-sensors="sensors-img-35" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII=" style="transform: translateY(0px);">
            </div>

            <div class="alr-caption-box" band-sensors="sensors-div-36">
                <span class="caption transmit animatioans animated" data-animation="fadeInUp" band-sensors="sensors-span-37">签到台</span>
                <span class="description transmit animatioans animated animation-delay-1" data-animation="fadeInUp" band-sensors="sensors-span-38">一生一次的神圣时刻，只有足够重要的人，才能见证</span>
                <ul class="list">
                    <li band-sensors="sensors-li-39">
                        <p class="title transmit animatioans animated animation-delay-2" data-animation="fadeInUp">弧角烤漆铁艺</p>
                        <p class="description transmit animatioans animated animation-delay-2" data-animation="fadeInUp">精致相框点缀</p>
                        <em class="line transmit animatioans animated animation-delay-2" data-animation="fadeInUp">|</em>
                    </li>
                    <li band-sensors="sensors-li-40">
                        <p class="title transmit animatioans animated animation-delay-3" data-animation="fadeInUp">简约张扬花艺</p>
                        <p class="description transmit animatioans animated animation-delay-3" data-animation="fadeInUp">撞色工艺花瓶</p>
                        <em class="line transmit animatioans animated animation-delay-3" data-animation="fadeInUp">|</em>
                    </li>
                    <li band-sensors="sensors-li-41">
                        <p class="title transmit animatioans animated animation-delay-4" data-animation="fadeInUp">纯色主题背景</p>
                        <p class="description transmit animatioans animated animation-delay-4" data-animation="fadeInUp">不对称造型</p>
                    </li>
                </ul>
            </div>

            <!--区域类型,1主舞台,2仪式通道,3签到台,4迎宾区,5灯光-->

            <div class="picture js-transform" band-sensors="sensors-div-42">
                <img class="lazy" data-original="https://qnvideo.mijwed.com/product/26725/XQxH2hOJvFtuYux1599532335399.jpg" alt="石家庄市婚礼策划方案:简单爱5" band-sensors="sensors-img-43" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII=" style="transform: translateY(0px);">
            </div>

            <div class="alr-caption-box" band-sensors="sensors-div-44">
                <span class="caption transmit animatioans animated" data-animation="fadeInUp" band-sensors="sensors-span-45">迎宾区</span>
                <span class="description transmit animatioans animated animation-delay-1" data-animation="fadeInUp" band-sensors="sensors-span-46">从日出到日暮，想陪伴你走过每一天</span>
                <ul class="list">
                    <li band-sensors="sensors-li-47">
                        <p class="title transmit animatioans animated animation-delay-2" data-animation="fadeInUp">圆形轮廓结构</p>
                        <p class="description transmit animatioans animated animation-delay-2" data-animation="fadeInUp">垂感顺滑布幔</p>
                        <em class="line transmit animatioans animated animation-delay-2" data-animation="fadeInUp">|</em>
                    </li>
                    <li band-sensors="sensors-li-48">
                        <p class="title transmit animatioans animated animation-delay-3" data-animation="fadeInUp">主题色系花艺</p>
                        <p class="description transmit animatioans animated animation-delay-3" data-animation="fadeInUp">雅致灵动花艺</p>
                        <em class="line transmit animatioans animated animation-delay-3" data-animation="fadeInUp">|</em>
                    </li>
                    <li band-sensors="sensors-li-49">
                        <p class="title transmit animatioans animated animation-delay-4" data-animation="fadeInUp">不对称结构</p>
                        <p class="description transmit animatioans animated animation-delay-4" data-animation="fadeInUp">爱迪生复古灯饰</p>
                    </li>
                </ul>
            </div>
                        <!--区域类型,1主舞台,2仪式通道,3签到台,4迎宾区,5灯光-->
                                                <div class="mess-area" band-sensors="sensors-div-50">
                <img src="/static/image/theme-bottom-bg.png" alt="" band-sensors="sensors-img-51">
                <div class="form" band-sensors="sensors-div-52">
                   <input type="text" placeholder="姓名" class="name bottom-name">
                   <input type="text" placeholder="手机号" class="phone bottom-phone" maxlength="11">
                   <div class="look-price-btn" band-sensors="sensors-div-53">立即查看报价</div>
                </div>
            </div>
        </div>
        <div class="right-mess-nav" band-sensors="sensors-div-54">
          <p class="title casetitle">简单爱</p>
          <p class="sign"><span band-sensors="sensors-span-55">到店礼</span>到店即赠2000元婚嫁大礼包</p>
          <p class="sign"><span band-sensors="sensors-span-56">订单礼</span></p>
          <p class="yuyue-btn">预约到店</p>
          <p class="discount-btn">领取优惠</p>
                    <img src="/static/image/20200811_1B995323ECFD2664D2392F93D62EBF96.jpg" alt="" class="touxiang" band-sensors="sensors-img-57">
          <p class="nickname">新晋婚礼设计师 | 糖糖</p>
                    <img src="/static/image/tang.jpg" class="qianming" band-sensors="sensors-img-58">
                    <p class="recomend-reason">推荐理由</p>
                              <div class="recoment-content" band-sensors="sensors-div-59">

               整个空间用大色块区分，几何线条完美切割，板块结构方便移动，让主舞台拥有更多视觉可能。主题画面可以随心切换，让你的婚礼更加个性、独具特色。

          </div>
                    <div class="recoment-content" band-sensors="sensors-div-60">

               垂挂顶的自然弧度，搭配大地色系的花艺做点缀，一个温馨柔和的复古空间呈现眼前，透出一股大气和端庄。

          </div>
                    <div class="recoment-content" band-sensors="sensors-div-61">

               流畅线条的铁艺，加上星光垂挂南瓜吊顶，起承转合都那么温柔，就像你我之间的爱情，无需惊心动魄，只求陪伴彼此从清晨到日落。

          </div>
                    <div class="recoment-content" band-sensors="sensors-div-62">

               陪伴是最长情的告白，从复杂的爱情习题中脱离，简简单单陪着你，<br>从清晨到日暮，从暖阳到凛冬，从少年到白头，岁月循环往复，而你始终温柔。

          </div>
                              <p class="inspiration">创作灵感</p>
          <div class="inspiration-content" band-sensors="sensors-div-63">灵感来源于几何线条的不对称美感，以温柔的大地色系为主色调，空间上，利用几何线条进行完美切割，配以柔和色系的花艺点缀，构造了一个温馨柔和、清新复古的空间。</div>
                    <p class="main-title-case">主题案例</p>
          <ul>
                        </ul>
        </div>
   </div>

</div>
<div class="popup" id="popup1" band-sensors="sensors-div-64">
    <div class="main" band-sensors="sensors-div-65">
        <div class="close-btn" band-sensors="sensors-div-66">
            <img src="/static/image/fork.png" alt="" band-sensors="sensors-img-67">
        </div>
       <img src="/static/image/yuyue-bg1.png" alt="" class="pop-bg" band-sensors="sensors-img-68">
       <div class="content" band-sensors="sensors-div-69">
            <input type="text" placeholder="请输入您的姓名" class="name">
            <span class="namespan" band-sensors="sensors-span-70">姓名</span>
            <input type="text" placeholder="请输入您的手机号码" maxlength="11" class="phone">
            <span class="phonespan" band-sensors="sensors-span-71">手机</span>
            <div class="pop-btn" data-note="详情页（主题及案例）-预约到店" data-mess="预约成功" band-sensors="sensors-div-72">立即预约</div>
       </div>
    </div>
</div>
<div class="popup" id="popup2" band-sensors="sensors-div-73">
    <div class="main" band-sensors="sensors-div-74">
        <div class="close-btn" band-sensors="sensors-div-75">
            <img src="/static/image/fork.png" alt="" band-sensors="sensors-img-76">
        </div>
       <img src="/static/image/yuyue-bg2.png" alt="" class="pop-bg" band-sensors="sensors-img-77">
       <div class="content" band-sensors="sensors-div-78">
            <input type="text" placeholder="请输入您的姓名" class="name">
            <span class="namespan" band-sensors="sensors-span-79">姓名</span>
            <input type="text" placeholder="请输入您的手机号码" maxlength="11" class="phone">
            <span class="phonespan" band-sensors="sensors-span-80">手机</span>
            <div class="pop-btn" data-note="详情页（主题及案例）-领取优惠" data-mess="领取成功" band-sensors="sensors-div-81">领取2000元婚嫁大礼包</div>
       </div>
    </div>
</div>
{% endblock function %}
{% block texiao %}
<script>
    function videoScroll(){
        if($("#l_video").length) {
            document.getElementById("l_video").play();
        }
    }
    videoScroll();

    $('.close-btn').click(function(){
      $('.popup').hide();
    })
    $('.yuyue-btn').click(function(){
        $('#popup1').show();
    })
    $('.discount-btn').click(function(){
        $('#popup2').show();
    })
    var casetitle = $('.casetitle').html();
    var userMobile = /^1\d{10}$/;
    $('.pop-btn').click(function(){
        var name = $(this).siblings('.name').val();
        var tel = $(this).siblings('.phone').val();
        var note = $(this).attr('data-note');
        var mess = $(this).attr('data-mess');
        if(name == ''){
            msg('请输入您的姓名');
            return false;
        }else if(tel == '') {
            msg('请输入您的手机号码')
            return false
        }else if(!userMobile.test(tel)) {
            msg('手机号码格式不正确')
            return false
        }else {
            var data = {
                mobile:tel,
                from_type: 'pc',
                name:name,
                plate_code: '' || 2,
                note:'pc-sem大搜-'+note+'-主题名称:'+casetitle+'-姓名:'+name+'-手机号:'+tel
            }
            shopAppointment(data,'',function(res){
                if(res.error == 0){
                    msg(mess)
                }else{
                    msg(res.message)
                }
            })
        }
    })
    $('.look-price-btn').click(function(){
        var name = $('.bottom-name').val();
        var phone = $('.bottom-phone').val();
        if(name == ''){
            msg('请输入您的姓名');
            return false;
        }else if(phone == '') {
            msg('请输入您的手机号码')
            return false
        }else if(!userMobile.test(phone)) {
            msg('手机号码格式不正确')
            return false
        }else {
            var data = {
                mobile:phone,
                from_type: 'pc',
                name:name,
                plate_code: '' || 2,
                note:'pc-sem大搜-详情页（主题及案例）-查看报价-主题名称:'+casetitle+'-姓名:'+name+'-手机号:'+phone
            }
            shopAppointment(data,'',function(res){
                msg(res.message)
            })
        }
    })

</script>
<script>
jQuery(document).ready(function($) {
    $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');
    $('#djadd').click(function(){
        $body.animate({scrollTop: $('#djlists').offset().top-50}, 100);
        return false;// 返回false可以避免在原链接后加上#
    });
});
</script>
<script src="/static/js/productPublic.min.js.下载"></script>
<script src="/static/js/productHome.min.js.下载"></script>
{% endblock texiao %}