{% extends 'base.html' %}
{% load staticfiles %}
{% block function %}
    <link rel="stylesheet" href="{% static 'css/themewed.css' %}" type="text/css">
    <div class="pc-container" band-sensors="sensors-div-14">
        <!-- 主题婚礼 -->
        <div id="product_list" class="inner-wrap" band-sensors="sensors-div-15">
            <div class="pro-name" band-sensors="sensors-div-16">
                {% for type in wedding_type %}
                    <div class="newest" data-screen="{{ forloop.counter }}" band-sensors="sensors-div-17"><a href="{% url 'wedding:theme' type.id %}">{{ type.name }}</a>
                        {% if forloop.counter == 1 %}
                            <span band-sensors="sensors-span-18">|</span>
                         {% else %}
                            <span band-sensors="sensors-span-18"></span>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <ul id="pro_list" class="clearfix inner-wrap waterfull" data-growing-container="">
                {% for wedding_sku in wedding_skus %}
                    <li class="items-box-shadow fl height list" data-growing-title="{{ wedding_sku.name }}" band-sensors="sensors-li-22">
                    <a href="{% url 'wedding:details' wedding_sku.id %}" title="{{ wedding_sku.name }}" class="pc-product-popup">
                    <span class="figure" band-sensors="sensors-span-23">
                        <img src="{{ wedding_sku.cover_image.url }}" alt="" class="lazy"
                             data-animation="fadeIn" band-sensors="sensors-img-24">
                    </span>
                        <div class="info" band-sensors="sensors-div-25">
                            <div class="productName" band-sensors="sensors-div-26">{{ wedding_sku.name }}</div>
                            <div class="productType" band-sensors="sensors-div-27">{{ wedding_sku.desc }}</div>
                        </div>
                    </a>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
{% endblock function %}

{% block bottomfile %}

{% endblock %}